@model ADSProject.Models.EstudianteViewModel

@{
    ViewData["Title"] = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Form</h1>

<h4>EstudianteViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="idEstudiante" class="form-control" type="hidden" />
            </div>
            <div class="form-group">
                <label asp-for="nombresEstudiante" class="control-label"></label>
                <input asp-for="nombresEstudiante" class="form-control" />
                <span asp-validation-for="nombresEstudiante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="apellidosEstudiante" class="control-label"></label>
                <input asp-for="apellidosEstudiante" class="form-control" />
                <span asp-validation-for="apellidosEstudiante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="codigoEstudiante" class="control-label"></label>
                <input asp-for="codigoEstudiante" class="form-control" />
                <span asp-validation-for="codigoEstudiante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="correoEstudiante" class="control-label"></label>
                <input asp-for="correoEstudiante" class="form-control" />
                <span asp-validation-for="correoEstudiante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
